<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <title>In ấn QT-DESIGN</title>
</head>

<body ng-app="myApp">
  <div layout:fragment="content" id="fixSection">
 <!-- header -->
   <!-- Title-->
    <div class="nav-title">
        <div class="nav-title-card">
            <h4>Dịch Vụ</h4>
            <p><a href="/index.html">Trang Chủ</a>-Dịch Vụ-In Ấn</p>
        </div>
    </div>
    <!--end title-->

<!-- div -->
<div>
  <h2 class="title-service">CÁC GÓI DỊCH VỤ THIẾT KẾ</h2>
</div>
<!--  -->
<div class="bg-contact">
  <div class="services-contact">
    <h2>Liên hệ với chúng tôi</h2>
    <p>Hãy liên hệ trực tiếp với chúng tôi để được tư vấn và báo giá chi tiết</p>
  </div>
  <div class="services-contact-icon">
    <ul>
      <a href="" target="_blank" class="services-contact-list">
        <li><i class="fa fa-phone"></i></li>
      </a>
      <a href="" target="_blank" class="services-contact-list">
        <li><i class="fa fa-comment"></i></li>
      </a>
      <a href="" target="_blank" class="services-contact-list">
        <li><i class="fa fa-envelope"></i></li>
      </a>
    </ul>
  </div>
</div>
</div>
</body>

</html>