<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Thiết kế web QT-DESIGN</title>
</head>

<body ng-app="myApp">
    <div layout:fragment="content" id="fixSection">
   <!-- Title-->
    <div class="nav-title">
        <div class="nav-title-card">
            <h4>Dịch Vụ</h4>
            <p><a href="/index.html">Trang Chủ</a>-Dịch Vụ-Thiết kế web</p>
        </div>
    </div>
    <!--end title-->
  <!-- End header -->
  <!-- Price -->
  <!-- boostrap -->
  <div class="container">
    <h2 class="title-service">CÁC GÓI DỊCH VỤ THIẾT KẾ</h2>
    <div style="background-color: #f2f2f2" class="row row-cols-1 row-cols-md-3 display-smartphone">
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body hover-body">
            <h3 class="card-title fix-h2">GÓI BASIC</h3>
            <div class="item-body">
              <p>Thiết kế 1 demo logo dựa theo yêu cầu khách hàng. <i class="fa fa-check"></i></p>
              <p>Thiết kế mới hoàn toàn <i style="text-align: right;" class="fa fa-check"></i></p>
              <p>Quy chuẩn thông số màu <i class="fa fa-check"></i></p>
              <p>Bóc tách logo âm bản dương bản <i class="fa fa-check"></i></p>
              <p>Chỉnh sửa không giới hạn <i class="fa fa-check"></i></p>
              <p>Bàn giao file gốc, jpg, png, photoshop <i class="fa fa-check"></i></p>
              <p>Thiết kế phương án 1 demo logo dựa vào nội dung lĩnh vực hoạt động <i class="fa fa-times"></i></p>
              <p>Kèm theo namecard, mẫu bì thư A4, A5 <i class="fa fa-times"></i></p>
              <p>Bản phân tích ý nghĩa Logo <i class="fa fa-times"></i></p>
              <p>Tư vấn xin bản quyền Logo <i class="fa fa-times"></i></p>
              <p>Thiết kế phương án 2 demo logo dựa vào nội dung lĩnh vực hoạt động <i class="fa fa-times"></i></p>
              <p>Kẹp tài liệu, màu phối phù hợp đi kèm với Logo marketing website <i class="fa fa-times"></i></p>
              <p style="border-bottom: none;">Xin bản quyền Logo <i class="fa fa-times"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">

          <div class="card-body hover-body">
            <h3 class="card-title fix-h2">GÓI PROFESSIONAL</h3>
            <div class="item-body">
              <p>Thiết kế 1 demo logo dựa theo yêu cầu khách hàng. <i class="fa fa-check"></i></p>
              <p>Thiết kế mới hoàn toàn <i style="text-align: right;" class="fa fa-check"></i></p>
              <p>Quy chuẩn thông số màu <i class="fa fa-check"></i></p>
              <p>Bóc tách logo âm bản dương bản <i class="fa fa-check"></i></p>
              <p>Chỉnh sửa không giới hạn <i class="fa fa-check"></i></p>
              <p>Bàn giao file gốc, jpg, png, photoshop <i class="fa fa-check"></i></p>
              <p>Thiết kế phương án 1 demo logo dựa vào nội dung lĩnh vực hoạt động <i class="fa fa-check"></i></p>
              <p>Kèm theo namecard, mẫu bì thư A4, A5 <i class="fa fa-check"></i></p>
              <p>Bản phân tích ý nghĩa Logo <i class="fa fa-check"></i></p>
              <p>Tư vấn xin bản quyền Logo <i class="fa fa-check"></i></p>
              <p>Thiết kế phương án 2 demo logo dựa vào nội dung lĩnh vực hoạt động <i class="fa fa-check"></i></p>
              <p>Kẹp tài liệu, màu phối phù hợp đi kèm với Logo marketing website <i class="fa fa-check"></i></p>
              <p style="border-bottom: none;">Xin bản quyền Logo <i class="fa fa-check"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="card-body hover-body">
            <h3 class="card-title fix-h2">GÓI PREMIUM</h3>
            <div class="item-body">
              <p>Thiết kế 1 demo logo dựa theo yêu cầu khách hàng. <i class="fa fa-check"></i></p>
              <p>Thiết kế mới hoàn toàn <i style="text-align: right;" class="fa fa-check"></i></p>
              <p>Quy chuẩn thông số màu <i class="fa fa-check"></i></p>
              <p>Bóc tách logo âm bản dương bản <i class="fa fa-check"></i></p>
              <p>Chỉnh sửa không giới hạn <i class="fa fa-check"></i></p>
              <p>Bàn giao file gốc, jpg, png, photoshop <i class="fa fa-check"></i></p>
              <p>Thiết kế phương án 1 demo logo dựa vào nội dung lĩnh vực hoạt động <i class="fa fa-check"></i></p>
              <p>Kèm theo namecard, mẫu bì thư A4, A5 <i class="fa fa-check"></i></p>
              <p>Bản phân tích ý nghĩa Logo <i class="fa fa-check"></i></p>
              <p>Tư vấn xin bản quyền Logo <i class="fa fa-check"></i></p>
              <p>Thiết kế phương án 2 demo logo dựa vào nội dung lĩnh vực hoạt động <i class="fa fa-check"></i></p>
              <p>Kẹp tài liệu, màu phối phù hợp đi kèm với Logo marketing website <i class="fa fa-check"></i></p>
              <p style="border-bottom: none;">Xin bản quyền Logo <i class="fa fa-check"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="bg-contact">
    <div class="services-contact">
      <h2>Liên hệ với chúng tôi</h2>
      <p>Hãy liên hệ trực tiếp với chúng tôi để được tư vấn và báo giá chi tiết</p>
    </div>
    <div class="services-contact-icon">
      <ul>
        <a href="" target="_blank" class="services-contact-list">
          <li><i class="fa fa-phone"></i></li>
        </a>
        <a href="" target="_blank" class="services-contact-list">
          <li><i class="fa fa-comment"></i></li>
        </a>
        <a href="" target="_blank" class="services-contact-list">
          <li><i class="fa fa-envelope"></i></li>
        </a>


      </ul>
    </div>
  </div>

  <div class="qt-project">
    <div class="title-project">
      <h2>Website đã thiết kế</h2>
      <p>Dưới đây là những website đã triển khai của chúng tôi.</p>
    </div>
    <div id="store-list">
      <ul class="preview-list store-list">
        <li class="left-block0 block1" style="background-color: #7b7b7b;">
          <div class="preview-item animated fadeInLeft">
            <div class="mac-frame">
              <a href="https://no1cigar.com/" target="_blank">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span>
              </a>
            </div>
            <div class="iphone-frame">
              <a title="No 1 Cigar" target="_blank" href="https://no1cigar.com/">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span></a>
            </div>
            <div class="store-title">NO 1 CIGAR</div>
            <div class="store-desc">Chuyên kinh doanh Cigar</div>
            <a href="" class="view-demo">XEM WEB</a>
          </div>
        </li>
        <li class="left-block0 block1" style="background-color: #cb0000;">
          <div class="preview-item animated fadeInLeft">
            <div class="mac-frame">
              <a href="https://no1cigar.com/" target="_blank">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span>
              </a>
            </div>
            <div class="iphone-frame">
              <a title="No 1 Cigar" target="_blank" href="https://no1cigar.com/">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span></a>
            </div>
            <div class="store-title">NO 1 CIGAR</div>
            <div class="store-desc">Chuyên kinh doanh Cigar</div>
            <a href="" class="view-demo">XEM WEB</a>
          </div>
        </li>
        <li class="left-block0 block1" style="background-color: #1e1e1e;">
          <div class="preview-item animated fadeInLeft">
            <div class="mac-frame">
              <a href="https://no1cigar.com/" target="_blank">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span>
              </a>
            </div>
            <div class="iphone-frame">
              <a title="No 1 Cigar" target="_blank" href="https://no1cigar.com/">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span></a>
            </div>
            <div class="store-title">NO 1 CIGAR</div>
            <div class="store-desc">Chuyên kinh doanh Cigar</div>
            <a href="" class="view-demo">XEM WEB</a>
          </div>
        </li>
        <li class="left-block0 block1" style="background-color: #e58825;">
          <div class="preview-item animated fadeInLeft">
            <div class="mac-frame">
              <a href="https://no1cigar.com/" target="_blank">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span>
              </a>
            </div>
            <div class="iphone-frame">
              <a title="No 1 Cigar" target="_blank" href="https://no1cigar.com/">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span></a>
            </div>
            <div class="store-title">NO 1 CIGAR</div>
            <div class="store-desc">Chuyên kinh doanh Cigar</div>
            <a href="" class="view-demo">XEM WEB</a>
          </div>
        </li>
        <li class="left-block0 block1" style="background-color: #f33c6d;">
          <div class="preview-item animated fadeInLeft">
            <div class="mac-frame">
              <a href="https://no1cigar.com/" target="_blank">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span>
              </a>
            </div>
            <div class="iphone-frame">
              <a title="No 1 Cigar" target="_blank" href="https://no1cigar.com/">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span></a>
            </div>
            <div class="store-title">NO 1 CIGAR</div>
            <div class="store-desc">Chuyên kinh doanh Cigar</div>
            <a href="" class="view-demo">XEM WEB</a>
          </div>
        </li>
        <li class="left-block0 block1" style="background-color: #5e9a07;">
          <div class="preview-item animated fadeInLeft">
            <div class="mac-frame">
              <a href="https://no1cigar.com/" target="_blank">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span>
              </a>
            </div>
            <div class="iphone-frame">
              <a title="No 1 Cigar" target="_blank" href="https://no1cigar.com/">
                <span class="image-wrap move-long"
                  style="background-image:url(https://www.beeart.vn/Uploads/project/20200504/e33e07d9-6e24-4fe5-a406-8e618c9b7540.png)">
                </span></a>
            </div>
            <div class="store-title">NO 1 CIGAR</div>
            <div class="store-desc">Chuyên kinh doanh Cigar</div>
            <a href="" class="view-demo">XEM WEB</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="view-all">
      <p>
        <a href="" class="button">Xem tất cả thiết kế website</a>
      </p>
    </div>
  </div>
</div>
</body>

</html>