#bannerlogo {
    background: #282828 no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
  }
  a:hover {
    text-decoration: none;
    color: #f9c306;
  }
  #bannerlogo h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  
  .bg-over {
    position: relative;
  }
  #bannerlogo h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  /* cong */
  .breadcrumb-item + .breadcrumb-item::before {
    font-family: "fontAwesome";
    content: ">" !important;
  }
  .breadcrumb {
    background-color: rgba(255, 255, 255, 0) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #d2d2d2 !important;
    padding: 0 !important;
  }
  .breadcrumb a:hover {
    color: #f9c306;
    text-decoration: none;
  }
  .breadcrumb a {
    color: #d2d2d2;
  }
  .breadcrumb strong {
    color: #fff !important;
    font-weight: 600;
  }
  .bg-over > .over {
    position: relative;
  }
  .pad-tb {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pad-lr {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* price */
  /* title price */
  .card-body {
    padding: 0 !important;
  }
  .fix-h2 {
    padding: 40px 0 40px 0;
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    background: #666;
    text-align: center;
    text-align-last: center;
    font-weight: bold;
    color: #fff;
  }
  .hover-body:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .title-service {
    text-align: center;
    background-color: #1b1b1bec;
    color: #fff;
    padding: 10px;
    clip-path: polygon(10% 35%, 90% 35%, 100% 50%, 90% 65%, 10% 65%, 0 50%);
    color: #fff;
    width: 48%;
    padding: 75px;
    text-align: center;
    font-size: 23px;
    margin: 0 auto;
  }
  .item-body {
    clip-path: polygon(50% 10%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    padding: 70px 6px 110px 6px;
  }
  .item-body p {
    border-bottom: 1px solid rgb(230, 225, 225);
    color: rgb(102, 102, 102);
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 3px;
    width: 98%;
    padding-left: 11px;
  }
  .item-body p i {
    position: absolute;
    right: 10px;
    padding-top: 4px;
  }
  .fa-check {
    color: #51d108;
  }
  .fa-times {
    color: rgba(240, 47, 47, 0.548);
  }
  /* reponsive body price */
  @media only screen and (max-width: 992px) {
    h2.title-service {
      font-size: 18px;
      padding: 60px;
      width: 80%;
    }
    .fix-h2 {
      font-size: 19px;
      clip-path: none;
      padding: 20px 0 20px 0;
    }
    .item-body p {
      font-size: 12px;
      padding-left: 8px;
      text-align: left;
    }
    .item-body {
      clip-path: none;
      padding: 0;
    }
    .item-body p i {
      float: right;
      position: absolute;
      right: 7px;
    }
  }
  @media only screen and (max-width: 768px) {
    .fix-h2 {
      font-size: 14px;
      clip-path: none;
      padding: 10px 0 10px 0;
    }
    .item-body p {
      font-size: 9px;
      padding-left: 8px;
      text-align: left;
      padding-top: 3px;
      margin-bottom: 0px;
      width: 95%;
    }
    .item-body {
      margin-bottom: 15px;
    }
    .item-body p i {
      position: absolute;
      right: 1px;
    }
  }
  @media only screen and (max-width: 600px) {
    .display-smartphone {
      display: inline !important;
    }
    .fix-h2 {
      font-size: 30px;
      padding: 18px;
    }
    .item-body p {
      font-size: 17px;
      padding-left: 28px;
    }
    .item-body p i {
      position: absolute;
      right: 13px;
    }
    h2.title-service {
      font-size: 17px;
      width: 73%;
    }
  }
  /*  */
  /* service-contact */
  .bg-contact {
    margin-top: 30px;
    background-image: url(/image/imageservice/bgprocess.jpg);
  }
  .services-contact {
    width: 100%;
    background-repeat: no-repeat;
  }
  .services-contact h2 {
    color: #f9c306;
    text-align: center;
    padding-top: 20px;
  }
  .services-contact p {
    padding-top: 10px;
    text-align: center;
    color: #fff;
  }
  .services-contact-icon {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
  }
  .services-contact-list {
    color: white;
    display: inline-block;
    width: 99px;
    font-size: 44px;
  }
  /* Project website */
  .title-project {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 50px 0;
  }
  .title-project h2 {
    color: #f9c306;
    font-size: 25px;
    font-weight: 550;
  }
  .preview-list {
    padding-top: 100px;
  }
  #store-list ul.store-list li.left-block0.block1 {
    background-color: #f9c306;
    position: relative;
  }
  #store-list {
    z-index: 2;
  }
  #store-list ul.store-list > li {
    width: 33.3%;
    padding-top: 100px;
  }
  .preview-list li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
  }
  .preview-list li > div {
    margin: 0 auto;
  }
  .preview-item {
    position: relative;
    width: 400px;
    text-align: center;
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .preview-item {
      width: 250px;
    }
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  .preview-item .mac-frame {
    background: url(https://www.beeart.vn/Content/cssanormy/mac_frame.png) 0 0
      no-repeat;
    width: 100%;
    height: 250px;
    background-size: 100%;
  }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .preview-item .mac-frame a {
      padding: 6px 29px;
    }
  }
  @media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .preview-item .mac-frame a span.image-wrap {
      height: 165px;
    }
  }
  
  .preview-item .mac-frame a {
    display: block;
    padding: 10px 50px;
  }
  @media (max-width: 767px) {
    #store-list ul.store-list > li {
      width: 100%;
    }
  }
  @media (max-width: 479px) {
    .preview-item {
      width: 300px;
    }
  }
  @media only screen and (max-width: 479px) {
    .preview-item .mac-frame a span.image-wrap {
      height: 150px;
    }
  }
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .preview-item .mac-frame a span.image-wrap {
      height: 125px;
    }
  }
  .store-list {
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: left;
    -moz-justify-content: left;
    -ms-justify-content: left;
    -webkit-justify-content: left;
  }
  
  .preview-item .mac-frame a span.image-wrap {
    display: block;
    height: 200px;
    background-size: 100%;
    background-position: center 0%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .move-long {
    -webkit-transition: all 3.5s ease-out;
    -moz-transition: all 3.5s ease-out;
    -ms-transition: all 3.5s ease-out;
    -o-transition: all 3.5s ease-out;
    transition: all 3.5s ease-out;
  }
  @media only screen and (max-width: 1279px) and (min-width: 1024px) {
    .preview-item .mac-frame a {
      padding: 3% 12%;
    }
  }
  a {
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  @media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .preview-item {
      width: 340px;
    }
  }
  #store-list .store-list .left-block0.block1 {
    position: relative;
  }
  @media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .preview-item .mac-frame a span.image-wrap {
      height: 165px;
    }
  }
  .store-title {
    font-size: 24px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .store-desc {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  .store-list .view-demo {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    height: 45px;
    width: 200px;
    margin: 40px auto 120px;
    text-align: center;
    line-height: 43px;
    -webkit-transform: translateZ(0);
    -webkit-border-radius: 8px;
    transform: translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .store-list a.view-demo:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c306;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-border-radius: 6px;
    letter-spacing: 0.5px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  .store-list a.view-demo:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .preview-list {
    overflow: hidden;
  
    padding: 0px;
  }
  .preview-item .iphone-frame {
    background: url(https://www.beeart.vn/Content/cssanormy/iphone_frame.png) 0 0
      no-repeat;
    width: 90px;
    height: 181px;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
  }
  .preview-item .iphone-frame a {
    display: block;
    padding: 18px 5px;
  }
  .preview-item .iphone-frame a span.image-wrap {
    display: block;
    height: 144px;
    width: 100%;
    background-size: 100%;
    background-position: center 0%;
  }
  .view-all a:hover {
    text-decoration: none;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #000;
    background: #f9c306;
    text-transform: uppercase;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .view-all {
    text-align: center;
    padding: 40px 0;
  }
  