<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Giới Thiệu QT-DESIGN</title>
</head>

<body>
<div layout:fragment="content" id="fixSection">
   <!-- Title-->
    <div class="nav-title">
        <div class="nav-title-card">
            <h4>Giới Thiệu</h4>
            <p><a href="/index.html">Trang Chủ</a>-Giới Thiệu</p>
        </div>
    </div>
    <!--end title-->


<section class="bg-over">
    <div class="container">
        <div class="aboutdetail clearfix">
            <div class="colfull">
                <h2>Về chúng tôi?</h2>
            </div>
            <div class="col">
                <p>Chúng tôi là những Designer chuyên làm việc trong ngành thiết kế, đồ họa và tin học. Website này ra
                    đời từ ý tưởng về cung cấp dịch vụ thiết kế đồ họa chất lượng cao nhưng với chi phí thấp. Mục tiêu
                    của chúng tôi là cung cấp các thiết kế sáng tạo, chất lượng cao qua đó giúp bạn kết nối công việc
                    kinh doanh của mình với khách hàng một cách chuyên nghiệp và hiệu quả nhất.</p>
                <p>Nhằm cung cấp những giải pháp trọn gói về thiết kế logo, bộ nhận diện thương hiệu, thiết kế web...
                    cùng những ưu đãi với giá tốt nhất, chúng tôi chọn cách làm việc online, sử dụng các chương trình
                    quản trị hiện đại để quản lý nhân viên cũng như quản lý các hợp đồng, dự án. Chúng tôi cam kết chất
                    lượng sản phẩm và sự hài lòng của khách hàng khi sử dụng dịch vụ. Hãy trải nghiệm các dịch vụ sáng
                    tạo của Bee Art ngay hôm nay!</p>
            </div>
            <div class="col right">
                <p>
                    <img class="bigimg" src="css/img/abouthome.jpg" height="427" width="708"/>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-over">
    <div class="container">
        <div class="aboutdetail clearfix" style="padding-top:0px;">
            <div class="colfull" style="margin-top:0px;">
                <h2>Chúng tôi làm như thế nào?</h2>
            </div>
        </div>
    </div>
</section>
<section class="bg-over" style="background-color:#f8f7f7;">
    <div class="containerblack">
        <div class="aboutblack clearfix">

            <div class="col">
                <h2>1. Nhận thông tin</h2>
                <p>Sau khi nhận được yêu cầu thiết kế logo từ khách hàng. Chúng tôi sẽ tư vấn cho khách hàng về định
                    hướng xây dựng logo, thương hiệu. Tiếp đó chúng tôi sẽ cung cấp cho khách hàng bảng báo giá sản
                    phẩm, thời gian dự kiến hoàn thành, quy trình thiết kế và bàn giao sản phẩm cũng như chính sách hậu
                    mãi.</p>
            </div>
            <div class="col right">
                <img class="bigimg" src="css/img/abone.png"/></div>
        </div>
    </div>
</section>

<section class="bg-over">
    <div class="containerblack">
        <div class="aboutwhite clearfix">
            <div class="col">
                <img class="bigimg" src="css/img/abtwo.png" /></div>
            <div class="col right">
                <h2>2. Khảo sát, định hướng</h2>
                <p>Chúng tôi sẽ khảo sát mặt hàng sản phẩm, đối tượng khách hàng từ thông tin của bạn. Mục đích nhằm
                    hiểu rõ lĩnh vực bạn kinh doanh để từ đó lên ý tưởng và tiến hành phác thảo logo.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-over" style="background-color:#f8f7f7;">
    <div class="containerblack">
        <div class="aboutblack clearfix">
            <div class="col">
                <h2>3. Phác thảo ý tưởng</h2>
                <p>Sau khi tiếp nhận thông tin và biên bản khảo sát từ bộ phận kinh doanh. Chúng tôi sẽ chuyển qua bên
                    bộ phận thiết kế. Bộ phận thiết kế, sáng tạo sẽ phác thảo ý tưởng về các mẫu thương hiệu trên giấy
                    và chuyển qua cho bộ phận đồ họa để hoàn thiện các mấu phác thảo trên máy tính.</p>
            </div>
            <div class="col right">
                <img class="bigimg" src="css/img/abthree.png" /></div>
        </div>
    </div>
</section>

<section class="bg-over">
    <div class="containerblack">
        <div class="aboutwhite clearfix">
            <div class="col">
                <img class="bigimg" src="css/img/abfour.png" alt="Nghiệm thu và hoàn thiện ý tưởng">
            </div>
            <div class="col right">
                <h2>4. Nghiệm thu và hoàn thiện ý tưởng</h2>
                <p>Khi đã hoàn thiện các mẫu thiết kế thương hiệu trên máy tính, các mẫu thiết kế sẽ được chuyển qua cho
                    bộ phận quản lý để kiểm tra lại lần cuối xem đã chính xác với yêu cầu của khách hàng chưa. Nếu các
                    mẫu thiết kế là chính xác với yêu cầu của khách hàng chúng tôi sẽ tiến hành bàn giao.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-over" style="background-color:#f8f7f7;">
    <div class="containerblack">
        <div class="aboutblack clearfix">
            <div class="col">
                <h2>
                    5. Bàn giao sản phẩm
                </h2>
                <p>Sau khi đã kiểm tra các mẫu thiết kế phù hợp với yêu cầu khách hàng. Chúng tôi sẽ gửi file cho khách
                    hàng, và khách hàng sẽ là người quyết định xem các thiết kế có đảm bảo yêu cầu hay không. Nếu khách
                    hàng chưa hài lòng với các mẫu thiết kế. Nhân viên chúng tôi sẽ tiến hành thiết kế lại cho tới khi
                    khách hàng thực sự hài lòng. Khi khách hàng đã hài lòng chúng tôi sẽ tiến hành bàn giao đầy đủ các
                    file thiết kế (File gốc và file chất lượng cao)</p>
            </div>
            <div class="col right">
                <img class="bigimg" src="css/img/abfiver.png" alt="Bàn giao sản phẩm">
            </div>
        </div>
    </div>
</section>

<section class="bg-over">
    <div class="containerblack">
        <div class="aboutwhite clearfix">
            <div class="col">
                <img class="bigimg" src="css/img/absix.png" alt="Chính sách bảo hành">

            </div>
            <div class="col right">
                <h2>6. Chính sách hậu mãi</h2>
                <p>Chúng tôi cam kết khách hàng hài lòng 100% với các thiết kế. Do đó chúng tôi sẽ đảm bảo thay đổi và
                    tùy sửa miễn phí cho khách hàng trong khoảng thời gian quy định (Xin vui lòng xem tại các gói thiết
                    kế về thời gian quy định bảo hành.)</p>
            </div>

        </div>
        <div class="line"></div>
    </div>

</section>


<section class="bg-over" id="beeartcus">
    <div class="container pad-lr pad-tb over" style="padding-top:40px; padding-bottom:40px;">
        <h2>Chúng tôi đã làm được những gì? </h2>

        <div class="list clearfix">
            <div class="item">
                <div class="title">
                    <img class="bigimg" src="css/img/cusone.svg">
                </div>
                <div class="content">
                    <h4>8000+</h4>
                    <p>Số dự án hoàn thành</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img class="bigimg" src="css/img/custwo.svg">
                </div>
                <div class="content">
                    <h4>6000+</h4>
                    <p>Số khách hàng</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img class="bigimg" src="css/img/cusfour.svg">
                </div>
                <div class="content">
                    <h4>30+</h4>
                    <p>Số quốc gia sử dụng thiết kế</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img class="bigimg" src="css/img/cusfiver.svg">
                </div>
                <div class="content">
                    <h4>18</h4>
                    <p>Số lượng nhân viên</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>

</html>
